**/bin
**/.vs
**/Debug
**/obj
*.cache
FiguresCalculatorTests/obj/project.nuget.cache
FiguresCalculatorTests/obj/project.assets.json
FiguresCalculatorTests/obj/FiguresCalculatorTests.csproj.nuget.dgspec.json
FiguresCalculatorTests/obj/Debug/netcoreapp3.1/FiguresCalculatorTests.pdb
FiguresCalculatorTests/obj/Debug/netcoreapp3.1/FiguresCalculatorTests.dll
FiguresCalculatorTests/obj/Debug/netcoreapp3.1/FiguresCalculatorTests.csprojAssemblyReference.cache
FiguresCalculatorTests/obj/Debug/netcoreapp3.1/FiguresCalculatorTests.csproj.FileListAbsolute.txt
FiguresCalculatorTests/obj/Debug/netcoreapp3.1/FiguresCalculatorTests.csproj.CoreCompileInputs.cache
FiguresCalculatorTests/obj/Debug/netcoreapp3.1/FiguresCalculatorTests.assets.cache
FiguresCalculatorComsoleUI/obj/project.nuget.cache
FiguresCalculatorComsoleUI/obj/project.assets.json
FiguresCalculatorComsoleUI/obj/FiguresCalculatorConsoleUI.csproj.nuget.dgspec.json
FiguresCalculatorComsoleUI/obj/Debug/netcoreapp3.1/FiguresCalculatorConsoleUI.pdb
FiguresCalculatorComsoleUI/obj/Debug/netcoreapp3.1/FiguresCalculatorConsoleUI.dll
FiguresCalculatorComsoleUI/obj/Debug/netcoreapp3.1/FiguresCalculatorConsoleUI.csprojAssemblyReference.cache
FiguresCalculatorComsoleUI/obj/Debug/netcoreapp3.1/FiguresCalculatorConsoleUI.csproj.FileListAbsolute.txt
FiguresCalculatorComsoleUI/obj/Debug/netcoreapp3.1/FiguresCalculatorConsoleUI.csproj.CoreCompileInputs.cache
FiguresCalculatorComsoleUI/obj/Debug/netcoreapp3.1/FiguresCalculatorConsoleUI.assets.cache
FiguresCalculator/obj/project.nuget.cache
FiguresCalculator/obj/project.assets.json
FiguresCalculator/obj/FiguresCalculator.csproj.nuget.dgspec.json
FiguresCalculator/obj/Debug/netstandard2.0/FiguresCalculator.pdb
FiguresCalculator/obj/Debug/netstandard2.0/FiguresCalculator.dll
FiguresCalculator/obj/Debug/netstandard2.0/FiguresCalculator.csprojAssemblyReference.cache
FiguresCalculator/obj/Debug/netstandard2.0/FiguresCalculator.csproj.FileListAbsolute.txt
FiguresCalculator/obj/Debug/netstandard2.0/FiguresCalculator.assets.cache
FiguresCalculator/bin/Debug/netstandard2.0/FiguresCalculator.pdb
FiguresCalculator/bin/Debug/netstandard2.0/FiguresCalculator.dll
